:root {
	--main-bg-color: #272822;
	--main-fg-color: #f995ce;
	--main-text-color: #f8f8f2;
}
::-webkit-scrollbar {
	width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--main-bg-color)
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--main-fg-color);
	border-radius: 3.5px;
}

html {
	background: var(--main-bg-color);
	font-family: 'ZCOOL KuaiLe', cursive;
}

body {
	margin: 0;
}

h1.game-title {
	background: var(--main-fg-color);
	color: var(--main-bg-color);
	font-size: 48pt;
	margin: 8pt;
	height: 10vw;
	text-align: center;
	line-height: 10vw;
}

div.game{
	background-color: var(--main-text-color);
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
}

div.Description {
	color: var(--main-text-color);
	padding: 1em;
}

div.Description h1.DescriptionTitle {
	text-align: center;
	margin: 0;
}

img.Screenshot {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
}

a {
	color: var(--main-fg-color);
	text-decoration: none;
	border-bottom: 1px solid var(--main-fg-color);
}
